body {
	font-family: Arial;
        padding: 20px;
}

.red  { background-color: red; }
.blue { background-color: blue; }
.pink { background-color: ink; }
.yellow { background-color: gold; }
.green { background-color: green; }
.gray { background-color: gray; }
.brown { background-color: brown; }
.magenta { background-color: magenta; }
.purple { background-color: purple; }
.skyblue { background-color: skyblue; }
.orange { background-color: orange; }
.yellow.green { background: linear-gradient(to right, yellow, green); }

.row{
	display: flex;
        gap: 20px;
        margin-bottom: 15px;
}

.column{
       flex: 1;
       text-align: center;
       padding: 20px;
       border: 1px solid black;
}

@media(max-width: 37.5em){
	.row{
		flex-direction: column;
}
}